/node_modules
/public/hot
/public/upload
/public/videos
/vendor
/storage/*
!/storage/app/public
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
/tests/.env
.env
